/* You can add global styles to this file, and also import other style files */
html {
    background-image: url(assets/fondop.gif);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}